<div class='col-sm-9'>
    <h2>Bordered Table</h2>
    <p>The .table-bordered class adds borders to a table:-</p>    
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Designation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees; let i =index">
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.designationm }}</td>
        </tr>
      </tbody>
    </table>
    <mat-spinner *ngIf="showLoader"></mat-spinner>  
  </div>
